<!doctype html>
<html lang="fr">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title><%= htmlWebpackPlugin.options.title %></title>

        <style>
            html, body {
                margin: 15px;
                padding: 0;
                font-family: "Segoe UI";
                font-size: 62.5%;
            }

            .skeletonSkin {
                background: #444;
            }
        </style>
    </head>

    <body>
        <div id="app"></div>

        <noscript>
            <p>Your browser does not run Javascript, please enable it.</p>
        </noscript>
    </body>
</html>
